 a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption,
center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, 
h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, 
label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-kerning: auto;
}
html{
    height: 100%;
    font-family: sans-serif;
    -webkit-text-size-adjust:100%;
}
body{
    position: relative;
    display: block;
    font-family: serif, helvitica;
    line-height: 1.25em;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    font-size: 16px;
    letter-spacing: .02em;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: bold;
    color: #212121;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
}
p{
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.8;
    /* margin-bottom: 1.25rem; */
    text-rendering: optimizeLegibility;
}
/*main content*/
main{
    position: relative;
    box-sizing: border-box;
    width: auto;
    margin:0 auto;
    padding-right: 2vw;
    padding-left: 2vw;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing :border-box;
}

img{
    object-fit: cover;
    opacity: 1;
    -webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
}
section{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    flex-wrap: wrap;
}
/*menu item slected*/
.selected{
    color: black;
    font-size: 2em;
    border-bottom: gray;
}

/*header content*/
.site-header{
	width: auto;
    display: flex;
    flex-direction: row;
    margin: 2vw auto;
    padding-right: 4vw;
    padding-left: 4vw;
    overflow: hidden;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#project-section, #blog-section{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
}
.site-header #navigation-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#logo{
    background-color: #33383b;
    color: #ffffff;
    padding: .7em;
    border-radius: 1em;
}
#logo h1{
	text-align: center;
	font-size: 4em;
	font-family: Trattatello; 
	font-weight: bolder;
    letter-spacing: normal;
    background: #33383b;
    text-transform: uppercase;
    line-height: 100%;
    color: #ffffff;
    height: 100%;
    margin: 0;
/*    font-size:2.9vw;*/
}
#navigation ul{
 	padding: .5em;
 	margin: 0; 
	display: flex;
	list-style-type: none;
	flex-direction: row;
	justify-content: center;
}
#navigation ul li{
	margin: 0 1em; 
}

#navigation ul li a{
	text-align: center;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	color: gray;
}
#navigation ul li a:hover{
	color: black;
    font-weight:6em;
}


#blog-section, #projects-section{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
}

#projects-section, #blog-section{
    margin:1em;
}

.project-item{
    position: relative;
    box-sizing: inherit;
    width: 33.333333%;
}



.image-container{
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    object-fit: cover;
    background-color: white;
    padding:0;
    margin:0;
}   
.image{
    width: 100%;
    height: auto;
    object-fit: scale-down; 
    overflow: hidden;
    margin: 0;
    padding:0;
}
#project-section .image{
    border-radius: 2em;
}


#blog-section{
    display: flex;
    justify-content: center;
    align-content: center;
    /*margin: 1em;*/
    /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);*/
}

#blog-text{
    text-align:left;
    margin: 1em;
    padding: .5em;
    padding-top: 0;
    width: 34%;
}
#blog-text p{
    text-align: justify;
}

#blog-image-container{
    overflow: hidden;
    width: 56%;
    justify-content: center;
    margin: 1em;
}

#eve:hover .project-item-overlay {
    background-color: #00FA9A;
    opacity: .7;
    transform: scale(1);
}
#eve:hover .project-item-overlay-text{
        color: white;
}

#apu-hms:hover .project-item-overlay {
    background-color: #FF6347;
    opacity: .8;
    transform: scale(1);
}
#apu-hms:hover .project-item-overlay-text{
        color: white;
        font-size: 2em;
}

#pelicansmart:hover .project-item-overlay {
    background-color: #00FA9A;
    opacity: .7;
    transform: scale(1);
}
#pelicansmart:hover .project-item-overlay-text{
        color: white;
        font-size: 2em;
}

.project-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 2em;
  transition: .3s ease;
}


.project-item-overlay-text{
      font-weight: bold;
      font-size: 3em;
      position: absolute;
      color: transparent;
    line-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}

.footer{
    position: relative;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 3vw;
    margin: 2em auto 0 auto;
}

.footer .footer-left p{
    color:  #8f9296;
    margin: .5em auto;
}
.footer .footer-right{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: .7em;
}





/*//about.html*/
#introduction{
    margin: 1em;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#profile-image-container{
    border-radius: 2em;
}
#profile-image-container #profile-image{
    border-radius: 2em;
    height: auto;
    object-fit: cover;
}

#introduction #profile-summary p{
    margin:0.2em;
    padding:1em;
    text-align: justify;
} 

#introduction #about-me h1{
    font-size: 3em;
    color: #33383b;
    font-weight: 900px;
    margin: 0.1em auto;
    text-align: center;
    height: 100%;
}
/*#introduction #author-name h1:after{
     content: "Suliman Noor Mohammad";
     position: absolute;
    color: rgba(255,0,0,0.5);
    left: 13px;
    /* top: 5px; 
    color: rgba(255,0,0,0.5);
}*/

@media (max-width: 600px) {
        .footer{
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
        }
}

@media only screen and (min-width: 1200px){
    .project-item{
        width: 24.999999%;
    }

    .site-header #navigation{
    margin-top: .9em;
  }
}
@media only screen and (min-width: 770px) and (max-width: 1200px) {
   .project-item{
    width: 33.333333%;
  }
  .site-header #navigation{
    margin-top: .9em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 770px){
    .project-item {
        width: 49.99999%;
    }
    main{
        padding-left: 0;
        padding-right: 0;
    }

    .site-header{
        flex-direction: column;
        justify-content: center;
        margin: 2vw auto;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    #blog-text{
        width: auto;
    }
    #blog-image-container{
        width: 100%;
    }
}
/*responsive*/
@media only screen and (max-width: 480px){
    body{
        min-width: 380px;
    }
    #projects-section, #blog-section{
        margin: 1em auto;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
    }

    main{
        padding-left: 0;
        padding-right: 0;
    }
    #blog-section{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    #blog-section #blog-text{
        width: auto;
        padding: 0;
    }
    #blog-section #blog-text h1{
        text-align: center;
    }
    #blog-section #blog-image-container{
        width: auto;
        padding: 0
    }
   .project-item {
    justify-content: center;
    width: 100%;
    }
    #logo h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    /*    font-size:2.9vw;*/
    }
    #introduction #author-name h1{
        font-size: 1.5em;
        color: black;
    }
    .site-header{
        flex-direction: column;
        justify-content: center;
        padding-right: 2vw;
        padding-left: 2vw;
        margin: 1vw auto;
    }

}